doctype html
html
  head
    title Catch Sync
    link(href='css/style.css', rel='stylesheet')
    script(src='js/requirejs/require.js')
    script(src='js/bootstrap.js')
  body
    div.header
      h1 Catch Sync
    div.main-wrap
      div.control-banner
        div.box
          h2.box-title Generator
          div.box-body
            span
              label N =
                input(type='number', value='100000', min="1")#generate-input-n
            span
              label E =
                input(type='number', value='300000', min="1")#generate-input-e
            br
            span
              label Method:

              label
                input(type='radio', name='generate-method', value='randomPowerlaw', checked="checked")
                | Random Powerlaw
              label
                input(type='radio', name='generate-method', value='erdosRenyi')
                | Erdos-Renyi
              label
                input(type='radio', name='generate-method', value='kronecker')
                | Kronecker
            button#generate Generate
        div.box
          h2.box-title Injection
          div.box-body
            div
              label N
                sub src
                | =
                input(type='number', value='1000')#inject-input-src
            div
              label N
                sub dst
                | =
                input(type='number', value='1000')#inject-input-dest
            div
              label D =
                input(type='number', value='5')#inject-input-d
            div
              label T =
                input(type='number', value='10')#inject-input-t
            div
              label Camouflgage
                input(type='range', value='0.5', min="0", max="1", step="0.01")#inject-input-range
                span#inject-range-show 0.5
            button#inject Inject
        div.box
          h2.box-title Log
          div.box-body
            textarea(disabled="disabled")#log-output
        div.box
          h2.box-title JSON
      div.figure-banner
        div.box
          h2.box-title Figure
          div.box-body
            div#figure1.figure
            div#figure2.figure

    script
      | require(['main'])
